* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background-image: url("imgs/background_estabelecimento.png");
   overflow: visible;
   display: flex;
   
}

header {
    background-color: #fff6ea;
    position: fixed;
    width: 100%;
    display: flex;
    height: 90px;
    justify-content: center;    
    padding-right: 10vh;
    z-index: 6;
    padding-right: 50px;
}

#div_header {

    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 90px;

}

#ul_header {

    display: flex;
    text-decoration: none;
    list-style: none;
    position: center;
}

#li {

    float: left;
    text-decoration: none;
    align-content: center;

}

li a {

    display: block;
    color: #ff5400;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

li a:hover:not(.active) {

    background-color: #ff660021;
    border-radius: 4vh;
}

#blur{
    
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 5;
}

#div_formulario {

    display: none;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    height: 420px;
    width: 330px;
    margin: 40px;
    z-index: 6;
}

#div_cadastro {
    
    display: none;
    justify-content: center;
    height: 100vh;
    width: 100vh;
    border: solid white;
}


#div_botao{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.butao {
    
    height: 35px;
    width: 200px;
    border-radius: 1vh;
    border-style: inset;
    
}

.entrada {

    height: 30px;
    width: 290px;
    border: solid;
    border-style: inset;
    border-radius: 1vh;
    margin-left: 20px;
}

.text_card {

    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}



#total {

    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100%;
    width: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#e, #d {
    
    height: 100%;
    width: 100%;
}

#e {
    display: flex;
}

#d {
    
    font-family: "Chivo", sans-serif;
    align-items: center;
    text-align: left;
    padding-top: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 100%;
    width: 100%;
}

.laranja {
    color: orange;
}

#icones {
    
    flex-direction: column;
    display: flex;
    width: 75%;
    height: max-content;
    align-items: center;
    text-align: left;
}

.icone_e_texto {

    display: flex;
    flex-direction: row;
    width: 100%;
}

.desc {

    display: flex;
    align-items: end;
    align-items: center;
    font-style: italic;
}

#div_botoes {


    display: flex;
    padding: 40px;
    width: 75%;
    justify-content: space-around;
}

.button-27 {
    appearance: none;
    background-color: orange;
    border: orange;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .button-28 {
    appearance: none;
    background-color: white;
    border: solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ff5400;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: white;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: solid orange;
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }