w<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="cadastroEstabelecimentoCss.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <title>Home Page</title>
</head>

<body>




  <header>
    <div id="div_header">
      <img src='imgs/logonobg_laranja.png' alt=''>
      <ul id="ul_header">
        <li><a href="index.php"><img src="imgs/voltar.png" alt=""></a></li>
      </ul>
    </div>
  </header>

  <div id="blur">
  </div>

  <div id="div_cadastro">
  <div id='div_formulario'>
        <form id='formulario' method='post' action='../controller/processa.php' onsubmit="return consultaCampos()">
          <label class='text_card' for='categoria'>*Categoria:</label>
          <br>
          <input id= "input1"class='entrada' type='text' name='categoria' value=""><br>
          <br>
          <label class='text_card' for='nomeFantasia'>*Nome Fantasia:</label>
          <br>
          <input id= "input2" class='entrada' type='text' name='nomeFantasia' value=""><br>
          <br>
          <label class='text_card' for='contato'>*Numéro de contato:</label>
          <br>
          <input id= "input3" class='entrada' type='text' name='contato' value=""><br>
          <br>
          <label class='text_card' for='endereco'>*Endereço:</label>
          <br>
          <input id= "input4" class='entrada' type='number' name='endereco' value=""><br>
          <br>
          <label class='text_card' for='pw'>*Senha:</label>
          <br>
          <input id= "input5" class='entrada' type='password' name='pw' value="">
          <br>
          <input class='entrada' type='hidden' name='id' value='$idEstabelecimento'><br>
          <input class='entrada' type='hidden' name='op' value='cadastrarEstabelecimento'><br>
          <div id='div_botao'>
            <input class='butao' name='cadastro' type='submit' value='Realizar o cadastro'>
          </div>
          </form>
    </div>
  </div>


  <div id="total">
    <div id="e"></div>
    <div id="d">

      <div id="title">
        <h1><b class="laranja">Melhores</b> os <b class="laranja">resultados</b> do seu negocios
          <br><b class="laranja">com a Reserve.</b></h1>
          <br>
        </div>

        <div id="icones">
          <div class="icone_e_texto">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon src="https://cdn.lordicon.com/wyqtxzeh.json" trigger="hover"
              colors="primary:#ffffff,secondary:#ffffff" style="width:100px;height:100px">
            </lord-icon>
            <p class="desc">Aproveite a oportunidade e começe a monetizar suas reservas!</p>
          </div>

          <div class="icone_e_texto">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon src="https://cdn.lordicon.com/wzrwaorf.json" trigger="hover"
              colors="primary:#ffffff,secondary:#ffffff" style="width:100px;height:100px">
            </lord-icon>
            <p class="desc">Controle suas reservas e filas de uma forma simples e organizada</p>
          </div>

          <div class="icone_e_texto">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon src="https://cdn.lordicon.com/abwrkdvl.json" trigger="hover"
              colors="primary:#ffffff,secondary:#ffffff" style="width:100px;height:100px">
            </lord-icon>
            <p class="desc">Escale sua operação organizando seu tempo e focando naquilo que realmente <br>
              precise da sua atenção!</p>
          </div>

          <div class="icone_e_texto">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon src="https://cdn.lordicon.com/pbbsmkso.json" trigger="hover"
              colors="primary:#ffffff,secondary:#ffffff" style="width:100px;height:100px">
            </lord-icon>
            <p class="desc">Sem restrição geográfica, a plataforma pode ser acessada de qualquer <br>
              lugar do globo</p>
          </div>

          <div class="icone_e_texto">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon src="https://cdn.lordicon.com/piwupaqb.json" trigger="hover"
              colors="primary:#ffffff,secondary:#ffffff" style="width:100px;height:100px">
            </lord-icon>
            <p class="desc">Aumente sua porcentagem de tráfego orgânico e novos clientes para seu <br>
              estabelecimento!</p>
          </div>

        </div>
      



      <div id="texto">
        <br><br>
        <h1>Aqui você encontra melhores resultados, <br>
          seja nosso parceiro!</h1>
      </div>
    


      <div id="div_botoes">
        <button class="button-27" role="button">Entrar</button &nbsp>
        <button id="cadastroEst" class="button-28" role="button">Fazer cadastro</button>
      </div>

    </div>
  </div>

<script src="js/funcoesEst.js"></script>
</body>
</html>