<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="div_botoes">
         <div id="workarea">
          <div class="position">
           <div class="svg-wrapper">
              <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" height="40" width="150" />
                <div id="text">
                  <a id="cadastroEst" href="#"><span id="testando" class="spot"></span><b>Começar hoje</b></a>
                </div>
              </svg>
            </div>

            <div class="svg-wrapper">
              <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" height="40" width="150" />
                <div id="text">
                  <a id="login" href="#"><span class="spot"></span><b>Entrar</b></a>
                </div>
              </svg>
            </div>
          </div>
        </div>
      </div>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="div_botoes">
         <div id="workarea">
          <div class="position">
           <div class="svg-wrapper">
              <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" height="40" width="150" />
              </svg>
              <div class="button-text">
                <a id="cadastroEst" href="#"><span id="testando" class="spot"></span><b>Começar hoje</b></a>
              </div>
            </div>

            <div class="svg-wrapper">
              <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" height="40" width="150" />
              </svg>
              <div class="button-text">
                <a id="login" href="#"><span class="spot"></span><b>Entrar</b></a>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
